<!-- <footer class="page-footer font-small blue" id="foot">
  -->
<!-- <nav class="pull-left">
    <ul>
      <li>
        <a href="https://www.creative-tim.com"> Creative Tim </a>
      </li>
      <li>
        <a href="https://creative-tim.com/about-us"> About Us </a>
      </li>
      <li>
        <a href="http://blog.creative-tim.com"> Blog </a>
      </li>
      <li>
        <a href="https://www.creative-tim.com/license"> Licenses </a>
      </li>
    </ul>
  </nav> -->
<!-- <div class="footer-copyright text-center py-3">
    Copyright &copy;
    {{ test | date : "yyyy" }}
    <a href="https://www.cginfinity.com" target="_blank">CG Infinity</a>
  </div>
</footer> -->

<footer class="text-center text-lg-start text-muted">
  <div class="text-center p-3">
    Copyright &copy;
    {{ test | date : "yyyy" }}
    <a href="https://www.cginfinity.com" target="_blank">CG Infinity</a>
  </div>
</footer>
