<form id="campaign-builder-form">
  <div class="container-fluid" style="height: 90vh">
    <div class="row overflow-auto">
      <div class="col-12 form-div">
        <div class="form-modal">
          <h2 class="header">Campaign Builder</h2>
          <div id="customer-data-form">
            <form id="cust-data">
              <div class="d-flex align-items-center justify-content-evenly">
                <label>Campaign Type</label>

                <!-- <select class="form-select"></select> -->

                <select
                  class="form-select padding-on-left"
                  #campaignData
                  id="campaignData"
                  (change)="getSelection(campaignData.value, campaignData)"
                >
                  <option value="select" default>Select a Campaign Type</option>
                  <option
                    [value]="type.campaignType"
                    *ngFor="let type of campaignTypeData"
                  >
                    {{ type.campaignType }}
                  </option>
                </select>
              </div>

              <div class="d-flex align-items-center justify-content-evenly">
                <label>Name of Campaign</label>
                <input id="campaignName" />
              </div>

              <div class="d-flex align-items-center justify-content-evenly">
                <label>SMS Template Name</label>

                <select
                  class="form-select padding-on-left"
                  #smsTemp
                  id="smsTemp"
                  (change)="getSelection(smsTemp.value, smsTemp)"
                >
                  <option value="select" default>Select SMS</option>
                  <option
                    [value]="quiqMsgTemplate.message"
                    *ngFor="let quiqMsgTemplate of quiqMsgTemplates"
                  >
                    {{ quiqMsgTemplate.smsTemplateName }}
                  </option>
                </select>
              </div>

              <label>Sms Message</label>
              <textarea
                class="query padding-on-left"
                cols="30"
                rows="2"
                type="text"
                disabled
                [value]="smsMsg"
              ></textarea>

              <!-- <label> Campaign schedule time</label>
              <input id="schedule_time" type="datetime-local" [(ngModel)]="scheduleDate"
                  [ngModelOptions]="{ standalone: true }" [min]="todayDate" (change)="validateDate()" required /> -->

              <label>Frequency of scheduling Campaign</label>

              <select
                class="form-select padding-on-left"
                #campaignInterval
                id="campaignInterval"
                (change)="
                  getSelection(campaignInterval.value, campaignInterval)
                "
              >
                <option value="select" default>Select Interval</option>
                <option
                  [value]="campaignMapping.expression"
                  *ngFor="let campaignMapping of campaignIntervalMapping"
                >
                  {{ campaignMapping.time_interval }}
                </option>
              </select>

              <h3 style="font-weight: bold">Customer Filter Criteria</h3>
              <hr />
              <br />

              <div class="d-flex align-items-center justify-content-evenly">
                <label>Query Name</label>

                <select
                  class="form-select padding-on-left"
                  #query
                  id="query"
                  (change)="getSelection(query.value, query)"
                >
                  <option value="select" default>Select a query</option>
                  <option [value]="data.query" *ngFor="let data of queryData">
                    {{ data.queryName }}
                  </option>
                </select>
              </div>

              <label>Query</label>
              <textarea
                class="query padding-on-left"
                cols="30"
                rows="2"
                type="text"
                disabled
                [value]="selectedQuery"
              ></textarea>

              <button
                type="submit"
                class="btn submit"
                (click)="
                  $event.stopPropagation();
                  validateEmptyField()
                    ? submit()
                    : this.notification.error(
                        'Please fill all the mandatory fields '
                      )
                "
              >
                Schedule Campaign
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
