.outer {
  height: 100%;

  margin: 10% auto;
  box-sizing: border-box;
}
#submitBtn {
  background-color: #20c1d5 !important;
}
.panel-heading {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}
#forget {
  min-width: 100px;
  margin-left: auto;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
.form-inline label {
  padding-left: 10px;
  margin: 0;
  cursor: pointer;
}
.btn {
  margin-top: 20px;
  border-radius: 15px;
}
.panel {
  
  min-height: 380px;
  box-shadow: 2px 2px 8px 2px rgb(214, 214, 214);
  border-radius: 12px;
  margin-top: auto;
}
#emailId {
  padding: 0 2%;
}
.input-field {
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #ddd;
  color: #4343ff;
}
.iconColor {
  color: #20c1d5 !important;
}
.input-field.error {
  border: 1px solid red;
  color: red;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%;
}
.fa-eye-slash.btn {
  border: none;
  outline: none;
  box-shadow: none;
}
img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}
.bordert {
  border-top: 1px solid #aaa;
  position: relative;
}
.bordert:after {
  content: " or connect with";
  position: absolute;
  top: -13px;
  left: 37%;
  background-color: #fff;
  padding: 0 8px;
}

/* MY CSS */
/* 

.outer{
  height: 100vh;
 
}

.panel-heading{
  text-align: center;
  font-weight:bold;
  margin-bottom: 10px;
}

#forget{
  min-width: 100px;
  margin-left: auto;
  text-decoration: none;
  cursor: pointer;
}

a:hover{
  text-decoration: none;
}

.form-inline label{
  padding-left: 10px;
  margin: 0;
  cursor: pointer;
}

.btn{
  margin-top: 20px;
  border-radius: 15px;
}

.panel{
  min-height: 380px;
  box-shadow: 2px 2px 8px 2px rgb(214, 214, 214);
  border-radius: 12px;
  margin-top: auto;
}

.input-field{
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #ddd;
  color: #4343ff;
}

.input-field.error{
  border: 1px solid red;
  color: red;
}

input[type='text'],
input[type='password'],
input[type='email']{
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%;
}

.fa-eye-slash.btn{
  border: none;
  outline: none;
  box-shadow: none;
}

img{
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}

.bordert{
  border-top: 1px solid #aaa;
  position: relative;
}

.bordert:after {
  content: " or connect with";
  position: absolute;
  top: -13px;
  left: 37%;
  background-color: #fff;
  padding: 0 8px;
} */
