@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
}
.card-header {
  background-color: rgb(69, 69, 69) !important;
  padding: 1.5%;
}

#getSchemabtn {
  padding: 1%;
  border: 2px solid rgb(255, 164, 0) !important;
  color: rgb(255, 164, 0);
  background-color: white !important;

  border-radius: 8px;
}
#getSchemabtn:hover {
  color: whitesmoke;
  background-color: rgb(255, 164, 0) !important;
}

.generate-query-btn {
  margin: 2% 0;
}
.select-table-field {
  width: 100%;
}
.container {
  padding: 1%;
}
#sync-db {
  margin-top: 10%;
  margin-left: 7%;
  width: 100%;
}
#select-table {
  margin: auto auto 2% auto;
  width: 100%;
  display: flex;
}

h2 {
  color: white;
}
.card-body {
  padding: 5px;
}
.db-configs {
  padding: 5px;
  overflow: auto;
}
.select-table-field {
  padding: 5px;
}
.select-table-columns {
  padding: 5px;
}
.select-table-form-field {
  padding: 0.5%;
}
.db-config-form-field {
  padding: 0.5%;
}
.get-table-button {
  height: 100%;
}
.query-head {
  margin-top: 10%;
  margin-bottom: 2%;
}

.header-title {
  color: black !important;
  font-weight: bold !important;
  background-color: transparent !important;
}

.card-title {
  font-weight: bold;
  color: whitesmoke !important;
}
.query-builder {
  padding: 5px;
}
.card-header {
  color: #fff;
  text-align: center;
  background-color: #08042b;
}
.run-icon:hover {
  color: green;
}
.copy-icon:hover {
  color: green;
}
.save-icon:hover {
  color: green;
}

.checkbox-list {
  border: 1x Solid black;
  padding: 1%;
}
.result {
  border: 1px solid black;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
  height: 100%;
}
.column-data {
  height: 100%;
  overflow: auto;
  flex: 1;
}
.copy-icon:hover {
  color: green;
}
.generate-query-icon {
  float: right;
  cursor: pointer;
  text-shadow: 0 0 10px black;
  margin-right: 1%;
}
#generate-query-button {
  padding: 5px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.column-label {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
input[type="checkbox"] {
  accent-color: green;
  width: 100%;
  cursor: pointer;
}
.select-columns {
  padding: 1%;
  margin-top: 5px;
  background: #eee;
  box-shadow: 0 8px 8px -4px lightblue;
}
.result-row {
  /* padding-bottom: 8%; */
  height: 40%;
}
.query-builder-row {
  margin: 1rem 0;
  border: none;
}
h2 {
  display: inline;
}
.icons {
  vertical-align: middle;
}
.row-query-execute {
  padding: 5px;
  height: 50%;
}
.result-table {
  height: 100%;
}
.result-card {
  height: 3rem;
}
.button-text {
  padding: 10px;
}

#sql-result {
  height: fit-content;
  padding-bottom: 5% !important;
}
