/* .container{
    height: 100%;
    display: flex;
    flex-direction: column;
} */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.history-list {
  flex-grow: 1;
  overflow-y: scroll;
}
.card-header {
  background-color: #20c1d5 !important;
  border-radius: 4% !important;
  border: none;
  width: 100%;
}
.history-box {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
  overflow-y: scroll;
  padding-bottom: 1%;
  background-color: whitesmoke;
}
[class*="history-box"] {
  width: 100%;
}
.green-icon {
  color: green;
}
.grey-icon {
  color: #87ceeb;
}
.red-icon {
  color: red;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.history-list-card {
  padding-top: 1rem;
  border-radius: 5px;
}
.text-query {
  word-break: break-word;
}
