@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.logo {
  border: none;
  background-color: rgb(20, 20, 20);
}

.active {
  background: rgb(69, 69, 69) !important;
  color: whitesmoke !important;
  border-radius: 10px !important;
}

.sidebar-title {
  font-weight: bold;
}
