@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.logo {
  border: none;
  background-color: #20c1d5;
}

.active {
  background: #20c1d5 !important;
}

.sidebar-title {
  font-weight: bold;
}
