@import url("https://fonts.googleapis.com/css?family=Montserrat|Quicksand");

/* * {
  font-family: "quicksand", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
} */

body {
  background: #fff;
}
input[type="datetime-local"] {
  text-transform: uppercase;
}

.header {
  padding: 1rem 0 1rem 0;
  background-color: #20c1d5;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
  color: #e8e8e8;
}

.form-modal {
  position: relative;
  width: 45%;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
  background: #e8e8e8;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
}

.form-modal button {
  cursor: pointer;
  position: relative;
  text-transform: capitalize;
  font-size: 1em;
  z-index: 2;
  outline: none;
  background: #fff;
  transition: 0.2s;
}

.form-modal .btn {
  border-radius: 20px;
  border: none;
  font-weight: bold;
  font-size: 1.2em;
  padding: 0.8em 1em 0.8em 1em !important;
  transition: 0.5s;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
#radio-btn {
  color: #20c1d5 !important;
}

.form-modal .submit {
  background: #20c1d5;
  color: rgb(228, 224, 224);
}

h3 {
  text-align: center;
}

hr {
  border: 1px solid black;
}
form {
  margin-top: 5%;
}

.form-modal form {
  position: relative;
  width: 90%;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
}

#customer-data-form {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 1em;
}

#customer-data-form button {
  width: 100%;
  margin-top: 0.5em;
  padding: 0.6em;
}

#valid_check {
  display: none;
}

.form-modal input {
  position: relative;
  width: 100%;
  font-size: 1em;
  padding: 1.2em 1.7em 1.2em 1.7em;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  border-radius: 20px;
  border: none;
  background: #fff;
  outline: none;
  /* font-weight: bold; */
  transition: 0.4s;
}

.form-modal input:focus,
.form-modal input:active {
  transform: scaleX(1.02);
}

.form-modal input::-webkit-input-placeholder {
  color: #222;
}

textarea::placeholder {
  color: #222;
}

.form-modal p {
  font-size: 16px;
  font-weight: bold;
}

.form-modal p a:hover {
  color: #222;
}

.form-modal i {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateX(-10%) translateY(-50%);
}

.logo-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.query {
  background: #fff;
  border-radius: 20px;
  border: none;
  font-size: 1em;
  /* font-weight: bold; */
  margin-bottom: 0.6em;
  margin-top: 0.6em;
  outline: none;
  padding: 1.2em 1.7em 1.2em 1.7em;
  position: relative;
  transition: 0.4s;
  width: 100%;
}
#radioLabel {
  display: inline-flex;
  align-items: center;
  margin-right: 3rem;
}

.form-select {
  /* background: #f7f7f7; */
  border-radius: 20px;
  font-size: 1em;
  /* font-weight: bold; */
  margin-bottom: 0.6em;
  margin-top: 0.6em;
  outline: none;
  padding: 1.2em 1.7em 1.2em 1.7em;
  position: relative;
  transition: 0.4s;
  border: none;
  box-shadow: none;
}

select option {
  color: black;
}

.mat-radio-group {
  display: flex;
  width: 25%;
  justify-content: space-between;
}

.selectedQuery {
  max-height: 5rem;
  overflow-y: scroll;
}

#radioLabel input {
  margin-right: 0.5rem;
  width: 1rem;
}

#custom-button {
  border: #bbb 0.1px solid;
}

.-box-sd-effect:hover {
  box-shadow: 0 4px 8px hsla(210, 2%, 84%, 0.2);
}

.message {
  align-items: center;
  display: flex;
  font-size: 1.75rem;
  height: 100%;
  justify-content: center;
  padding-bottom: 1rem;
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .form-modal {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  i {
    display: none !important;
  }
}
